@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .lds-css{
    margin: 0 auto;
  }
  .lds-spinner {
    position: relative;
    
    width:100%;
    height:100%;
  }
  .lds-spinner div {
    left: 94px;
    top: 30px;
    position: absolute;
    -webkit-animation: lds-spinner linear 1.8s infinite;
    animation: lds-spinner linear 1.8s infinite;
    background: #dce4eb;
    width: 12px;
    height: 40px;
    border-radius: 50%;
    -webkit-transform-origin: 6px 70px;
    transform-origin: 6px 70px;
  }
  .lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -1.68s;
    animation-delay: -1.68s;
  }
  .lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    -webkit-animation-delay: -1.56s;
    animation-delay: -1.56s;
  }
  .lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    -webkit-animation-delay: -1.44s;
    animation-delay: -1.44s;
  }
  .lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
    -webkit-animation-delay: -1.32s;
    animation-delay: -1.32s;
  }
  .lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(96deg);
    transform: rotate(96deg);
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }
  .lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -1.08s;
    animation-delay: -1.08s;
  }
  .lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
    -webkit-animation-delay: -0.96s;
    animation-delay: -0.96s;
  }
  .lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(168deg);
    transform: rotate(168deg);
    -webkit-animation-delay: -0.84s;
    animation-delay: -0.84s;
  }
  .lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(192deg);
    transform: rotate(192deg);
    -webkit-animation-delay: -0.72s;
    animation-delay: -0.72s;
  }
  .lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
  }
  .lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(264deg);
    transform: rotate(264deg);
    -webkit-animation-delay: -0.36s;
    animation-delay: -0.36s;
  }
  .lds-spinner div:nth-child(13) {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
    -webkit-animation-delay: -0.24s;
    animation-delay: -0.24s;
  }
  .lds-spinner div:nth-child(14) {
    -webkit-transform: rotate(312deg);
    transform: rotate(312deg);
    -webkit-animation-delay: -0.12s;
    animation-delay: -0.12s;
  }
  .lds-spinner div:nth-child(15) {
    -webkit-transform: rotate(336deg);
    transform: rotate(336deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }